@import url("https://fonts.googleapis.com/css?family=spartan : wght@100; 200; 300; 400; 500; 600; 700; 800; 900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan', sans-serif;

}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: black
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: black
}

h4 {
    font-size: 20px;
    color: black
}

h6 {
    font-size: 12px;
    font-weight: 700;

}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    border:1px solid #000000;
    cursor: pointer;
    outline: none; 
    transition: 0.2s;
}
button.white:hover{
    background-color: #000000;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    align-content:center;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: 0.2s;
}

.logo{
    height: 10%;
    width: 15%;
}

#header{
    display:flex ;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    background: rgb(201, 245, 240);
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;    
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: 0.3 ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: rgb(0, 0, 0);
    
}

#navber li a.active::after,
#navbar li a:hover::after{
    content:"";
    width: 30%;
    height: 2px;
    background-color: blue;
    position: absolute;
    bottom: -4px;
    left:20px;
}
/* home page */
#main{
    background-image: url("logo/Home.png");
    height: 100vh;
    width: 100%;
    background-position: top 25% right 0%;
    padding: 0 67px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#main h4{
    padding-bottom: 15px;
    background-color: azure;
} 
#main h1{
    padding-bottom: 15px;
    background-color: azure;
}

#main p{
    background-color: azure;
} 

#main h4,h1,p{
    color: rgb(0, 0, 0);
}

#main button{
    /* background: transparent; */
    background-image: url("Imgs/btnbg.png");
    border: 20px;
    
    padding: 10px 60px 10px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#feature .fbox{
    width: 180px;
    text-align: center;
    padding: 25px 15px ;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;

}

#feature{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    flex-wrap: wrap;
}

#feature .fbox:hover{
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
    
}
#feature .fbox img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fbox h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: rgb(0, 70, 70);
    background-color: rgb(229, 229, 229);
}

#feature .fbox :nth-child(2) h6{
    background-color: rgb(252, 229, 194);
}
#feature .fbox :nth-child(3) h6{
    background-color: rgb(43, 75, 111);
}
#feature .fbox :nth-child(4) h6{
    background-color: rgb(226, 205, 255);
}
#feature .fbox :nth-child(5) h6{
    background-color: rgb(127, 228, 156);
}
#feature .fbox :nth-child(6) h6{
    background-color: rgb(243, 199, 135);
}

#product1 {
    text-align: center;
}

#product1 .procon{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23px;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius:  25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0,0.02);
    margin: 15px 0 ;
    transition: 0.2s ease;
    position:relative;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0,0.06);
}
#product1 .pro img{
    width: 200px;
    border-radius:  20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
    
}

#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des{
    padding: 7px;
    color: #1a1a1a;
    font-size: 14px;
    
}

#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);

}

#product1 .pro .des h4{
    padding: 1px;
    font-size: 15px;
    font-weight: 700;
    color: rgb(0, 75, 50);
}

#product1 .pro .cart{
    width: 50px;
    height: 30px;
    line-height: 20px;
    border-radius: 20px;
    background-color:#e8f6ea ;
    font-weight: 200;
    color: #088178;
    border: 1px solid #e8f6ea;
    position: absolute;
    bottom: 30px;
    right: 20px;
}

#banner{
    background-image: url("caps/banner.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size:cover;
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    
}


#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("caps/sm-banner1.png");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 40px;
    
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("caps/newsletterbg.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
   
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #000000;
}

#newsletter p span{
    color: #ff0000;
    text-decoration: bold;
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-radius: 10;
  
}

#newsletter button{
    background-color: #088178;
    color: white;
    border-radius: 10;
    
}

footer h4,p{
    padding: 3px;
}
footer img{
    width: 200px;
    height: 200px;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 14px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 14px;
    text-decoration: none;
    color: #222;
    margin-bottom:7px ;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

#Shipping {
    align-content: center;
    background-color: #9ae8e2;
    padding: 5%;
    text-justify: auto;
    font-size: 20px;
    
}

#Shipping table{
    margin-left: 500px;
    
}

#Shipping table caption{
   font-size: 35px;
   text-decoration:solid;
   padding-bottom: 20px;

}

button.white1{
    font-size: 13px;
    font-weight: 600;
    padding: 20px 20px;
    color: #fff;
    background-color: transparent;
    border:1px solid #000000;
    cursor: pointer;
    outline: none; 
    transition: 0.2s;
}

button.white1:hover{
    background-color: #000000;
}
